[submodule "gcc"]
	path = gcc
	url = https://github.com/c-sky/gcc.git
	branch = master-csky
[submodule "binutils"]
	path = binutils
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "newlib"]
	path = newlib
	url = https://sourceware.org/git/newlib-cygwin.git
[submodule "dejagnu"]
	path = dejagnu
	url = https://git.savannah.gnu.org/git/dejagnu.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/T-head-Semi/qemu.git
[submodule "gdb"]
	path = gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
